<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sorveteria MG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-card color='secondary'>
    
      <img src="https://petshopkta.000webhostapp.com/ionic/sorveteria/uploads/logo2.jpg" />
    
    <ion-card-header>
      <ion-card-title>Promoção de Junho!</ion-card-title>
      Faça duas encomendas e ganhe a terceira!
    </ion-card-header>
  </ion-card>

  <ion-card color='danger' style="text-align: center">


    <img src="https://petshopkta.000webhostapp.com/ionic/sorveteria/uploads/noticia1.jpg" />

    <ion-card-header>
      A mais deliciosa novidade da região!
    </ion-card-header>

  </ion-card>

  <ion-card color='danger' style="text-align: center">

    <img src="https://soleneve.com.br/site/uploads/produtos_img/147/15490278843.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Sugestão do dia: Banana Split</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card color='danger' style="text-align: center">

    <img src="https://soleneve.com.br/site/uploads/produtos_img/123/15415311547.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Conheça também: Paleta com nutela</ion-card-subtitle>
    </ion-card-header>

  </ion-card>



</ion-content>

<ion-footer style="text-align: center">
  <ion-toolbar color="success">
    <ion-button href="encomendas">Faça sua encomenda agora!</ion-button>
  </ion-toolbar>
</ion-footer>